*{
padding: 0%;
margin: 0%;
}
.page-1, .page-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-education{
    width: 50%;
    height: 1000px;
    background-color: #242424;
}
.box-certifications{
    width: 50%;
    height: 1000px;
    background-color: #999999;
}
.box-projects{
    width: 50%;
    height: 1000px;
    background-color: #505050;
}
.box-banner{
    width: 100%;
    height: 200px;
    background-color: #767676;
}
.box-banner-2{
    width: 100%;
    height: 200px;
    background-color: #767676;
}
.box-information{
    width: 50%;
    height: 1000px;
    background-color: #e3e3e3;
}
.box-extrainformation{
    width: 100%;
    height: 100px;
    background-color: black;
}